<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>阿凡达</string>
		<key>icon</key>
		<string>阿凡达</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>啊</string>
			<string>话</string>
			<string>飞</string>
			<string>阿</string>
			<string>揠</string>
			<string>越</string>
			<string>黄</string>
			<string>工</string>
			<string>大</string>
			<string>达</string>
			<string>超</string>
			<string>助</string>
			<string>特</string>
			<string>宝</string>
			<string>鸿</string>
			<string>队</string>
			<string>赤</string>
			<string>光</string>
			<string>凡</string>
			<string>壁</string>
			<string>长</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>变形金刚</string>
		<key>icon</key>
		<string>变形金刚</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>形</string>
			<string>狂</string>
			<string>头</string>
			<string>中</string>
			<string>进</string>
			<string>国</string>
			<string>挠</string>
			<string>金</string>
			<string>壁</string>
			<string>合</string>
			<string>屈</string>
			<string>的</string>
			<string>刚</string>
			<string>疯</string>
			<string>线</string>
			<string>石</string>
			<string>光</string>
			<string>变</string>
			<string>伙</string>
			<string>行</string>
			<string>盒</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>芳华</string>
		<key>icon</key>
		<string>芳华</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>画</string>
			<string>铤</string>
			<string>華</string>
			<string>泽</string>
			<string>华</string>
			<string>井</string>
			<string>颖</string>
			<string>黄</string>
			<string>飞</string>
			<string>渤</string>
			<string>鸿</string>
			<string>芳</string>
			<string>依</string>
			<string>林</string>
			<string>方</string>
			<string>曾</string>
			<string>依</string>
			<string>亚</string>
			<string>蔡</string>
			<string>晨</string>
			<string>险</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>釜山行</string>
		<key>icon</key>
		<string>釜山行</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>丢</string>
			<string>父</string>
			<string>飞</string>
			<string>四</string>
			<string>斧</string>
			<string>贤</string>
			<string>三</string>
			<string>小</string>
			<string>落</string>
			<string>山</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>天</string>
			<string>赫</string>
			<string>行</string>
			<string>陈</string>
			<string>春</string>
			<string>宇</string>
			<string>釜</string>
			<string>林</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>复仇者联盟</string>
		<key>icon</key>
		<string>复仇者联盟</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>盟</string>
			<string>窃</string>
			<string>黄</string>
			<string>无</string>
			<string>牛</string>
			<string>者</string>
			<string>笑</string>
			<string>火</string>
			<string>复</string>
			<string>者</string>
			<string>弹</string>
			<string>联</string>
			<string>谈</string>
			<string>云</string>
			<string>人</string>
			<string>仇</string>
			<string>索</string>
			<string>飞</string>
			<string>琴</string>
			<string>曾</string>
			<string>导</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>钢铁侠</string>
		<key>icon</key>
		<string>钢铁侠</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>风</string>
			<string>贴</string>
			<string>杰</string>
			<string>铁</string>
			<string>合</string>
			<string>志</string>
			<string>钢</string>
			<string>和</string>
			<string>汪</string>
			<string>刚</string>
			<string>沙</string>
			<string>日</string>
			<string>澄</string>
			<string>亮</string>
			<string>周</string>
			<string>里</string>
			<string>侠</string>
			<string>林</string>
			<string>杰</string>
			<string>林</string>
			<string>东</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>功夫</string>
		<key>icon</key>
		<string>功夫</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>举</string>
			<string>林</string>
			<string>杰</string>
			<string>局</string>
			<string>张</string>
			<string>功</string>
			<string>咏</string>
			<string>校</string>
			<string>反</string>
			<string>张</string>
			<string>震</string>
			<string>返</string>
			<string>曾</string>
			<string>志</string>
			<string>伦</string>
			<string>谭</string>
			<string>夫</string>
			<string>亮</string>
			<string>岳</string>
			<string>工</string>
			<string>周</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>加勒比海盗</string>
		<key>icon</key>
		<string>加勒比海盗</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>比</string>
			<string>荣</string>
			<string>林</string>
			<string>加</string>
			<string>友</string>
			<string>杰</string>
			<string>勒</string>
			<string>宽</string>
			<string>张</string>
			<string>曾</string>
			<string>志</string>
			<string>道</string>
			<string>咏</string>
			<string>盗</string>
			<string>富</string>
			<string>大</string>
			<string>城</string>
			<string>海</string>
			<string>度</string>
			<string>读</string>
			<string>张</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>雷神</string>
		<key>icon</key>
		<string>雷神</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>面</string>
			<string>王</string>
			<string>黄</string>
			<string>依</string>
			<string>泽</string>
			<string>类</string>
			<string>受</string>
			<string>雷</string>
			<string>瘦</string>
			<string>松</string>
			<string>枫</string>
			<string>曾</string>
			<string>利</string>
			<string>神</string>
			<string>蔡</string>
			<string>曹</string>
			<string>肌</string>
			<string>林</string>
			<string>玛</string>
			<string>晨</string>
			<string>芬</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>美国队长</string>
		<key>icon</key>
		<string>美国队长</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>头</string>
			<string>长</string>
			<string>虎</string>
			<string>龙</string>
			<string>出</string>
			<string>对</string>
			<string>雪</string>
			<string>猛</string>
			<string>血</string>
			<string>国</string>
			<string>父</string>
			<string>黑</string>
			<string>特</string>
			<string>死</string>
			<string>老</string>
			<string>社</string>
			<string>流</string>
			<string>过</string>
			<string>没</string>
			<string>留</string>
			<string>美</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>千与千寻</string>
		<key>icon</key>
		<string>千与千寻</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>千</string>
			<string>文</string>
			<string>斌</string>
			<string>龙</string>
			<string>彬</string>
			<string>游</string>
			<string>千</string>
			<string>彬</string>
			<string>血</string>
			<string>戏</string>
			<string>至</string>
			<string>黑</string>
			<string>特</string>
			<string>曾</string>
			<string>死</string>
			<string>寻</string>
			<string>社</string>
			<string>流</string>
			<string>过</string>
			<string>与</string>
			<string>古</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>倩女幽魂</string>
		<key>icon</key>
		<string>倩女幽魂</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>起</string>
			<string>林</string>
			<string>杰</string>
			<string>局</string>
			<string>张</string>
			<string>闻</string>
			<string>麟</string>
			<string>咏</string>
			<string>校</string>
			<string>舞</string>
			<string>起</string>
			<string>震</string>
			<string>返</string>
			<string>女</string>
			<string>伦</string>
			<string>谭</string>
			<string>倩</string>
			<string>亮</string>
			<string>幽</string>
			<string>梁</string>
			<string>魂</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>唐人街探案</string>
		<key>icon</key>
		<string>唐人街探案</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>胆</string>
			<string>杰</string>
			<string>尝</string>
			<string>张</string>
			<string>一</string>
			<string>糖</string>
			<string>唐</string>
			<string>新</string>
			<string>校</string>
			<string>街</string>
			<string>张</string>
			<string>卧</string>
			<string>按</string>
			<string>志</string>
			<string>案</string>
			<string>谭</string>
			<string>三</string>
			<string>亮</string>
			<string>探</string>
			<string>梁</string>
			<string>周</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>我不是药神</string>
		<key>icon</key>
		<string>我不是药神</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>扬</string>
			<string>荣</string>
			<string>不</string>
			<string>吐</string>
			<string>气</string>
			<string>是</string>
			<string>华</string>
			<string>宽</string>
			<string>曾</string>
			<string>张</string>
			<string>宏</string>
			<string>我</string>
			<string>伦</string>
			<string>咏</string>
			<string>炫</string>
			<string>神</string>
			<string>大</string>
			<string>城</string>
			<string>药</string>
			<string>度</string>
			<string>读</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>无间道</string>
		<key>icon</key>
		<string>无间道</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>违</string>
			<string>五</string>
			<string>黄</string>
			<string>无</string>
			<string>曾</string>
			<string>泽</string>
			<string>阳</string>
			<string>受</string>
			<string>间</string>
			<string>瘦</string>
			<string>松</string>
			<string>心</string>
			<string>枫</string>
			<string>奉</string>
			<string>到</string>
			<string>蔡</string>
			<string>曹</string>
			<string>盗</string>
			<string>林</string>
			<string>玛</string>
			<string>道</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>夏洛特烦恼</string>
		<key>icon</key>
		<string>夏洛特烦恼</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>烦</string>
			<string>亡</string>
			<string>虎</string>
			<string>龙</string>
			<string>洛</string>
			<string>游</string>
			<string>雪</string>
			<string>夏</string>
			<string>曾</string>
			<string>特</string>
			<string>父</string>
			<string>黑</string>
			<string>特</string>
			<string>死</string>
			<string>恼</string>
			<string>社</string>
			<string>流</string>
			<string>箭</string>
			<string>留</string>
			<string>古</string>
			<string>破</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>英雄本色</string>
		<key>icon</key>
		<string>英雄本色</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>话</string>
			<string>飞</string>
			<string>本</string>
			<string>揠</string>
			<string>越</string>
			<string>黄</string>
			<string>工</string>
			<string>色</string>
			<string>超</string>
			<string>助</string>
			<string>特</string>
			<string>宝</string>
			<string>鸿</string>
			<string>影</string>
			<string>英</string>
			<string>光</string>
			<string>曾</string>
			<string>人</string>
			<string>熊</string>
			<string>鸣</string>
			<string>雄</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>蜘蛛侠</string>
		<key>icon</key>
		<string>蜘蛛侠</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>挫</string>
			<string>狂</string>
			<string>蜘</string>
			<string>中</string>
			<string>挠</string>
			<string>派</string>
			<string>壁</string>
			<string>顿</string>
			<string>侠</string>
			<string>的</string>
			<string>美</string>
			<string>疯</string>
			<string>线</string>
			<string>扬</string>
			<string>光</string>
			<string>不</string>
			<string>蛛</string>
			<string>伙</string>
			<string>人</string>
			<string>盒</string>
			<string>抑</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>指环王</string>
		<key>icon</key>
		<string>指环王</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>来</string>
			<string>铤</string>
			<string>环</string>
			<string>泽</string>
			<string>有</string>
			<string>井</string>
			<string>颖</string>
			<string>黄</string>
			<string>只</string>
			<string>渤</string>
			<string>鸿</string>
			<string>指</string>
			<string>依</string>
			<string>林</string>
			<string>空</string>
			<string>走</string>
			<string>王</string>
			<string>亚</string>
			<string>蔡</string>
			<string>晨</string>
			<string>备</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>捉妖记</string>
		<key>icon</key>
		<string>捉妖记</string>
		<key>title</key>
		<string>电影</string>
		<key>options</key>
		<array>
			<string>丢</string>
			<string>做</string>
			<string>飞</string>
			<string>捉</string>
			<string>四</string>
			<string>李</string>
			<string>贤</string>
			<string>三</string>
			<string>要</string>
			<string>观</string>
			<string>古</string>
			<string>子</string>
			<string>妖</string>
			<string>天</string>
			<string>赫</string>
			<string>乔</string>
			<string>记</string>
			<string>花</string>
			<string>宇</string>
			<string>乐</string>
			<string>林</string>
		</array>
	</dict>
</array>
</plist>
