<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>艾玛.沃特森</string>
		<key>icon</key>
		<string>艾玛沃特森</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>.</string>
			<string>沃</string>
			<string>飞</string>
			<string>人</string>
			<string>揠</string>
			<string>艾</string>
			<string>黄</string>
			<string>工</string>
			<string>玛</string>
			<string>曾</string>
			<string>超</string>
			<string>森</string>
			<string>特</string>
			<string>宝</string>
			<string>特</string>
			<string>队</string>
			<string>赤</string>
			<string>光</string>
			<string>人</string>
			<string>壁</string>
			<string>长</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>奥黛丽.赫本</string>
		<key>icon</key>
		<string>奥黛丽赫本</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>本</string>
			<string>狂</string>
			<string>头</string>
			<string>丽</string>
			<string>奥</string>
			<string>国</string>
			<string>挠</string>
			<string>派</string>
			<string>丽</string>
			<string>合</string>
			<string>屈</string>
			<string>待</string>
			<string>戴</string>
			<string>黛</string>
			<string>.</string>
			<string>石</string>
			<string>光</string>
			<string>不</string>
			<string>伙</string>
			<string>赫</string>
			<string>盒</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>陈道明</string>
		<key>icon</key>
		<string>陈道明</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>林</string>
			<string>铤</string>
			<string>明</string>
			<string>泽</string>
			<string>而</string>
			<string>井</string>
			<string>颖</string>
			<string>黄</string>
			<string>飞</string>
			<string>渤</string>
			<string>鸿</string>
			<string>道</string>
			<string>依</string>
			<string>林</string>
			<string>陈</string>
			<string>走</string>
			<string>曾</string>
			<string>依</string>
			<string>亚</string>
			<string>蔡</string>
			<string>晨</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>费雯.丽</string>
		<key>icon</key>
		<string>费雯丽</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>丽</string>
			<string>丹</string>
			<string>飞</string>
			<string>.</string>
			<string>李</string>
			<string>贤</string>
			<string>费</string>
			<string>小</string>
			<string>文</string>
			<string>曾</string>
			<string>古</string>
			<string>子</string>
			<string>雯</string>
			<string>天</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>春</string>
			<string>宇</string>
			<string>乐</string>
			<string>林</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>高圆圆</string>
		<key>icon</key>
		<string>高圆圆</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>元</string>
			<string>黄</string>
			<string>圆</string>
			<string>牛</string>
			<string>对</string>
			<string>笑</string>
			<string>火</string>
			<string>高</string>
			<string>道</string>
			<string>弹</string>
			<string>线</string>
			<string>谈</string>
			<string>云</string>
			<string>越</string>
			<string>圆</string>
			<string>高</string>
			<string>索</string>
			<string>飞</string>
			<string>琴</string>
			<string>曾</string>
			<string>导</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>古天乐</string>
		<key>icon</key>
		<string>古天乐</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>乐</string>
			<string>炫</string>
			<string>杰</string>
			<string>凤</string>
			<string>合</string>
			<string>志</string>
			<string>俊</string>
			<string>天</string>
			<string>汪</string>
			<string>张</string>
			<string>沙</string>
			<string>日</string>
			<string>澄</string>
			<string>古</string>
			<string>周</string>
			<string>里</string>
			<string>丽</string>
			<string>林</string>
			<string>杰</string>
			<string>林</string>
			<string>东</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>贾斯汀.比伯</string>
		<key>icon</key>
		<string>贾斯汀比伯</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>林</string>
			<string>杰</string>
			<string>局</string>
			<string>张</string>
			<string>比</string>
			<string>麟</string>
			<string>伯</string>
			<string>.</string>
			<string>反</string>
			<string>贾</string>
			<string>震</string>
			<string>汀</string>
			<string>斯</string>
			<string>志</string>
			<string>伦</string>
			<string>谭</string>
			<string>丁</string>
			<string>亮</string>
			<string>岳</string>
			<string>梁</string>
			<string>周</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>井柏然</string>
		<key>icon</key>
		<string>井柏然</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>荣</string>
			<string>井</string>
			<string>国</string>
			<string>友</string>
			<string>杰</string>
			<string>华</string>
			<string>伯</string>
			<string>张</string>
			<string>柏</string>
			<string>曾</string>
			<string>志</string>
			<string>然</string>
			<string>咏</string>
			<string>炫</string>
			<string>富</string>
			<string>大</string>
			<string>城</string>
			<string>麟</string>
			<string>度</string>
			<string>读</string>
			<string>张</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>莱昂纳多</string>
		<key>icon</key>
		<string>莱昂纳多</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>莱</string>
			<string>王</string>
			<string>黄</string>
			<string>昂</string>
			<string>泽</string>
			<string>亚</string>
			<string>受</string>
			<string>林</string>
			<string>瘦</string>
			<string>松</string>
			<string>心</string>
			<string>多</string>
			<string>曾</string>
			<string>利</string>
			<string>几</string>
			<string>蔡</string>
			<string>那</string>
			<string>肌</string>
			<string>纳</string>
			<string>玛</string>
			<string>芬</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>李冰冰</string>
		<key>icon</key>
		<string>李冰冰</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>头</string>
			<string>亡</string>
			<string>虎</string>
			<string>冰</string>
			<string>出</string>
			<string>游</string>
			<string>李</string>
			<string>范</string>
			<string>血</string>
			<string>戏</string>
			<string>父</string>
			<string>黑</string>
			<string>冰</string>
			<string>死</string>
			<string>老</string>
			<string>社</string>
			<string>流</string>
			<string>过</string>
			<string>曾</string>
			<string>留</string>
			<string>古</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>莉莉詹姆斯</string>
		<key>icon</key>
		<string>莉莉詹姆斯</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>莉</string>
			<string>斌</string>
			<string>龙</string>
			<string>彬</string>
			<string>游</string>
			<string>雪</string>
			<string>彬</string>
			<string>莉</string>
			<string>戏</string>
			<string>至</string>
			<string>黑</string>
			<string>特</string>
			<string>詹</string>
			<string>死</string>
			<string>质</string>
			<string>社</string>
			<string>斯</string>
			<string>过</string>
			<string>留</string>
			<string>木</string>
			<string>姆</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>刘德华</string>
		<key>icon</key>
		<string>刘德华</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>起</string>
			<string>刘</string>
			<string>杰</string>
			<string>局</string>
			<string>德</string>
			<string>闻</string>
			<string>麟</string>
			<string>花</string>
			<string>校</string>
			<string>舞</string>
			<string>起</string>
			<string>华</string>
			<string>返</string>
			<string>志</string>
			<string>伦</string>
			<string>谭</string>
			<string>三</string>
			<string>亮</string>
			<string>岳</string>
			<string>梁</string>
			<string>鸡</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>刘昊然</string>
		<key>icon</key>
		<string>刘昊然</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>胆</string>
			<string>刘</string>
			<string>杰</string>
			<string>尝</string>
			<string>张</string>
			<string>一</string>
			<string>然</string>
			<string>麟</string>
			<string>新</string>
			<string>校</string>
			<string>薪</string>
			<string>浩</string>
			<string>卧</string>
			<string>返</string>
			<string>昊</string>
			<string>谭</string>
			<string>三</string>
			<string>亮</string>
			<string>岳</string>
			<string>梁</string>
			<string>周</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>刘亦菲</string>
		<key>icon</key>
		<string>刘亦菲</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>扬</string>
			<string>非</string>
			<string>林</string>
			<string>吐</string>
			<string>气</string>
			<string>菲</string>
			<string>华</string>
			<string>宽</string>
			<string>亦</string>
			<string>张</string>
			<string>宏</string>
			<string>眉</string>
			<string>伦</string>
			<string>刘</string>
			<string>炫</string>
			<string>富</string>
			<string>大</string>
			<string>.</string>
			<string>麟</string>
			<string>度</string>
			<string>读</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>舒淇</string>
		<key>icon</key>
		<string>舒淇</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>违</string>
			<string>王</string>
			<string>黄</string>
			<string>苏</string>
			<string>泽</string>
			<string>阳</string>
			<string>受</string>
			<string>林</string>
			<string>瘦</string>
			<string>琪</string>
			<string>心</string>
			<string>枫</string>
			<string>淇</string>
			<string>几</string>
			<string>蔡</string>
			<string>曹</string>
			<string>肌</string>
			<string>林</string>
			<string>玛</string>
			<string>晨</string>
			<string>芬</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>吴尊</string>
		<key>icon</key>
		<string>吴尊</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>准</string>
			<string>虎</string>
			<string>龙</string>
			<string>尊</string>
			<string>游</string>
			<string>雪</string>
			<string>猛</string>
			<string>曾</string>
			<string>吴</string>
			<string>雕</string>
			<string>父</string>
			<string>黑</string>
			<string>特</string>
			<string>死</string>
			<string>老</string>
			<string>社</string>
			<string>流</string>
			<string>箭</string>
			<string>留</string>
			<string>古</string>
			<string>破</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>甄子丹</string>
		<key>icon</key>
		<string>甄子丹</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>子</string>
			<string>话</string>
			<string>飞</string>
			<string>单</string>
			<string>揠</string>
			<string>越</string>
			<string>丹</string>
			<string>工</string>
			<string>甄</string>
			<string>超</string>
			<string>助</string>
			<string>志</string>
			<string>宝</string>
			<string>鸿</string>
			<string>惊</string>
			<string>赤</string>
			<string>光</string>
			<string>曾</string>
			<string>人</string>
			<string>鸣</string>
			<string>王</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>周星驰</string>
		<key>icon</key>
		<string>周星驰</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>周</string>
			<string>狂</string>
			<string>头</string>
			<string>中</string>
			<string>国</string>
			<string>挠</string>
			<string>派</string>
			<string>壁</string>
			<string>顿</string>
			<string>屈</string>
			<string>星</string>
			<string>美</string>
			<string>疯</string>
			<string>线</string>
			<string>驰</string>
			<string>光</string>
			<string>不</string>
			<string>伙</string>
			<string>人</string>
			<string>盒</string>
			<string>抑</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>朱一龙</string>
		<key>icon</key>
		<string>朱一龙</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>朱</string>
			<string>有</string>
			<string>玛</string>
			<string>泽</string>
			<string>有</string>
			<string>井</string>
			<string>颖</string>
			<string>黄</string>
			<string>而</string>
			<string>一</string>
			<string>鸿</string>
			<string>利</string>
			<string>依</string>
			<string>林</string>
			<string>空</string>
			<string>龙</string>
			<string>依</string>
			<string>亚</string>
			<string>蔡</string>
			<string>备</string>
			<string>曾</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>胡歌</string>
		<key>icon</key>
		<string>胡歌</string>
		<key>title</key>
		<string>明星</string>
		<key>options</key>
		<array>
			<string>超</string>
			<string>窃</string>
			<string>黄</string>
			<string>胡</string>
			<string>牛</string>
			<string>对</string>
			<string>笑</string>
			<string>火</string>
			<string>传</string>
			<string>道</string>
			<string>弹</string>
			<string>线</string>
			<string>谈</string>
			<string>云</string>
			<string>越</string>
			<string>人</string>
			<string>歌</string>
			<string>索</string>
			<string>哥</string>
			<string>琴</string>
			<string>弧</string>
		</array>
	</dict>
</array>
</plist>
